suoritusrekisteri/src/test/resources/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="perustiedot" type="simpleType"/>
  <xs:complexType name="simpleType">
    <xs:sequence>
      <xs:element type="xs:string" name="easy"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>